section {
    max-width: 800px;
    margin: 50px auto;

    &.apiResults {
        width: 80%;
        margin: auto;
        border: 1px solid #545454;
        border-radius: 8px;
        box-shadow: 5px 5px 5px #646464;
        padding: 40px; 

        div {
            margin-top: 20px;
        }

        #error {
            display: none;
            border: 4px solid #990003; 
            padding: 20px;

            #errormessage {
                margin-top: 5px;
            }
        }

    }
}